[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yurashka (yurashka)
[access "refs/for/refs/*"]
	read = group user/yurashka (yurashka)
	push = group user/yurashka (yurashka)
	label-Code-Review = -2..+2 group user/yurashka (yurashka)
	label-Verified = -1..+1 group user/yurashka (yurashka)
	rebase = group user/yurashka (yurashka)
	removeReviewer = group user/yurashka (yurashka)
	submit = group user/yurashka (yurashka)
	labelAs-Code-Review = -2..+2 group Registered Users
[access "refs/heads/*"]
	read = group user/yurashka (yurashka)
	create = group user/yurashka (yurashka)
	push = +force group user/yurashka (yurashka)
	pushMerge = group user/yurashka (yurashka)
	label-Code-Review = -2..+2 group Registered Users
[access "refs/tags/*"]
	push = +force group user/yurashka (yurashka)
	pushTag = group user/yurashka (yurashka)
	pushSignedTag = group user/yurashka (yurashka)
